<!doctype html>
<html>

<head>
  <!-- Internal game scripts/styles, mostly boring stuff -->
  <script src="https://xss-game.appspot.com/static/game-frame.js"></script>
  <link rel="stylesheet" href="https://xss-game.appspot.com/static/game-frame-styles.css" />
</head>

<body id="level5">
  <img src="https://xss-game.appspot.com/static/logos/level5.png" /><br><br> Thanks for signing up, you will be redirected
  soon...
  <script>
    setTimeout(function () { window.location = '{{ next === }}' === 'confirm' ? 'confirm' : null; }, 5000);
  </script>
</body>

</html>